<div class="rayout">
  <div class="m-5 h2">第一段階</div>
  <div class="m-5">
    <%= link_to "信号に従うこと", "quizzes/quiz1.html", class: "btn btn-success btn-lg" %>
    <%= link_to "標識・標示", "#", class: "btn btn-success btn-lg" %>
  </div>

  <div class="m-5 h2">第二段階</div>
  <div class="m-5">
    <%= link_to "問題", "#", class: "btn btn-success btn-lg" %>
    <%= link_to "問題", "#", class: "btn btn-success btn-lg" %>
  </div>
</div>