<div class="rayout">
  <div class="m-5 h2">第一段階</div>
  <div class="m-5">
    <%= link_to "信号に従うこと", "quizzes/quiz1.html", class: "btn btn-success btn-lg" %>
    <%= link_to "交差点の通行", "quizzes/quiz2.html", class: "btn btn-success btn-lg" %>
  </div>

  <div class="m-5 h2">第二段階</div>
  <div class="m-5">
    <%= link_to "悪条件下での運転など", "quizzes/quiz3.html", class: "btn btn-success btn-lg" %>
    <%= link_to "駐車と停車", "quizzes/quiz4.html", class: "btn btn-success btn-lg" %>
  </div>
</div>