<div class="rayout">
  <div class="m-5 h2">四輪車</div>

  <div class="ml-5 mb-5 h4">
    <div>【S字の通り方】</div>
    <iframe width="700" height="400" src="https://www.youtube.com/embed/QEIU7KaPVZA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="mt-5">【クランクのコツ！】</div>
    <iframe width="700" height="400" src="https://www.youtube.com/embed/E5zbZRr0bmA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>